---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import ButtonDefault from '../components/ButtonDefault.astro';
---

<BaseLayout title="Basic Plan | Be Found Online">
	<!-- Hero -->
	<div
		class="md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-16 mx-auto"
	>
		<!-- Grid -->
		<div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
			<div class="lg:col-span-3">
				<p
					class="mb-3 px-1 inline-flex text-lg items-center gap-1.5 py-1.5 rounded-md font-semibold text-[#FD3E81] dark:bg-gray-800 dark:text-gray-200"
				>
					Basic plan
				</p>
				<h1
					class="block text-5xl tracking-tighter font-bold text-slate-900 sm:text-4xl lg:text-8xl lg:leading-none dark:text-white"
				>
					Be found online
				</h1>

				<p
					class="mt-6 font-inter text-lg max-w-2xl text-gray-800 dark:text-gray-400"
				>
					Elevate your online presence and attract more patients to your
					practice with our proven digital marketing strategies
				</p>
				<button
					type="button"
					class="py-3 px-4 mt-6 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-[#FD3E81] text-white hover:bg-[#E43975] focus:outline-none focus:ring-2 focus:ring-[#E43975] focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
				>
					<a onclick="openCalendlyWidget()" href="#calendly"> Get Started</a>
				</button>
			</div>
			<!-- End Col -->

			<div class="lg:col-span-4 mt-10 lg:mt-0 m-auto">
				<img
					class="w-10/12 rounded-xl m-auto"
					src="/images/nurture-banner-img.png"
					alt="Image Description"
				/>
			</div>
			<!-- End Col -->
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Hero -->

	<!-- Information banner start -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<div
			class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-rows-1 justify-center gap-8 sm:grid-cols-2 sm:justify-normal rounded-md"
		>
			<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
				<span>2<span class="text-5xl px-4">in</span>5</span>
				<p class="text-3xl text-[#FD3E81] font-medium">patients</p>
			</h3>

			<div class="max-w-[25rem]">
				<h2
					class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
				>
					use a practice website to form an opinion of a doctor, dentist, or
					another healthcare provider
				</h2>
			</div>
		</div>
	</div>
	<!-- Information banner end -->

	<!-- What We Offer Section -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<!-- Grid Group  -->
		<div class="grid sm:grid-rows-2 gap-24">
			<!-- Grid-1  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/website-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Website
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							We will build you a 5 page website to get you started and host it
							for the first year.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-2 -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/on-page-seo.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							OnPage SEO
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Search engine optimization (SEO) will help you get noticed. There
							are many forms of search engine optimization. With the basic
							package, we review the meta tags that are relevant to your
							practice and ensure they are tagged and optimized so that you rank
							higher in search results.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Information banner start -->

			<div
				class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-rows-1 justify-center gap-8 sm:grid-cols-2 sm:justify-normal rounded-md"
			>
				<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
					<span>54<span class="text-5xl px-4">%</span></span>
					<p class="text-3xl text-[#FD3E81] font-medium">
						of prospective patients
					</p>
				</h3>

				<div class="max-w-[25rem]">
					<h2
						class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
					>
						search for a local business like a healthcare practice every day
					</h2>
				</div>
			</div>
			<!-- Information banner end -->

			<!-- Grid-3  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/googlemypage-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Google-my-page
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Local listing of your practice showcases your practice when
							patients search on Google. All of your local details such as
							address, phone number, work hours show up prominently on Google.
							Adding pictures familiarizes your patients with the practice and
							services.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-4 -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/directory-listing-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Directory listing
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							When patients search for your physicians, it is important that
							they find the correct information across the web. Oftentimes, the
							search results bring up a variety of directory listings with wrong
							or outdated information. We contact these websites and ensure that
							they all have the most uptodate information on your practice so
							that patients can reach your practice.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->
		</div>
	</div>
	<!-- End What We Offer Section -->

	<BannerFooterSection />
</BaseLayout>
