---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import ButtonDefault from '../components/ButtonDefault.astro';
---

<BaseLayout title="Nurture Plan | Engage with patients">
	<!-- Hero -->
	<div
		class="md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-16 mx-auto"
	>
		<!-- Grid -->
		<div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
			<div class="lg:col-span-3">
				<p
					class="mb-3 px-1 inline-flex text-lg items-center gap-1.5 py-1.5 rounded-md font-semibold text-[#FD3E81] dark:bg-gray-800 dark:text-gray-200"
				>
					Nurture plan
				</p>
				<h1
					class="block text-5xl tracking-tighter font-bold text-slate-900 sm:text-4xl lg:text-8xl lg:leading-none dark:text-white"
				>
					Engage with patients
				</h1>

				<p
					class="mt-6 font-inter text-lg max-w-2xl text-gray-800 dark:text-gray-400"
				>
					Create meaningful connections and foster long-lasting relationships
					with your patients
				</p>
				<ButtonDefault text="Get Started" />
			</div>
			<!-- End Col -->

			<div class="lg:col-span-4 mt-10 lg:mt-0 m-auto">
				<img
					class="w-10/12 rounded-xl m-auto"
					src="images/basic-banner-img.png"
					alt="Image Description"
				/>
			</div>
			<!-- End Col -->
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Hero -->

	<!-- Information banner start -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<div class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-cols-2 rounded-md">
			<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
				<span>63<span class="text-5xl px-4">%</span></span>
				<p class="text-3xl text-[#FD3E81] font-medium">of patients</p>
			</h3>

			<div class="max-w-[25rem]">
				<h2
					class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
				>
					choose one provider over another based on a strong online presence.
				</h2>
			</div>
		</div>
	</div>

	<!-- Information banner end -->

	<!-- What We Offer Section -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<!-- Grid Group  -->
		<div class="grid sm:grid-rows-2 gap-24">
			<!-- Grid-1  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/social-media-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Social media
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Why should spend time promoting your clinic on Facebook and
							Instagram? Besides keeping your practice at the top of your
							patients’ mind, it also helps them cross promote across their
							social network giving you increased visibility and free publicity.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-2 -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/reviews-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Reviews
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Patients increasingly trust Google reviews over feedback from
							their own friends and family. Building a consistent mechanism to
							build reviews is critical to maintain your reputation. We take on
							the responsibility of responding to patient feedback to address
							patient positive and negative feedback.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Information banner start -->
			<div class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-cols-2 rounded-md">
				<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
					<span>82<span class="text-5xl px-4">%</span></span>
					<p class="text-3xl text-[#FD3E81] font-medium">
						of prospective patients
					</p>
				</h3>

				<div class="max-w-[25rem]">
					<h2
						class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
					>
						search for a local business like a healthcare practice every day
					</h2>
				</div>
			</div>
			<!-- Information banner end -->

			<!-- Grid-3  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/chat-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Chat
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							While older patients enjoy in person and phone conversation, a
							growing set of patients want the ability to engage through chat or
							SMS. The trouble is often your staff is busy and won’t respond in
							a timely manner. We take on the responsibility so patients get a
							timely response to their queries.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->
		</div>
	</div>
	<!-- End What We Offer Section -->

	<BannerFooterSection />
</BaseLayout>
