---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import ButtonDefault from '../components/ButtonDefault.astro';
---

<BaseLayout title="Growth Plan | Get more patients">
	<!-- Hero -->
	<div
		class="md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-16 mx-auto"
	>
		<!-- Grid -->
		<div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
			<div class="lg:col-span-3">
				<p
					class="mb-3 px-1 inline-flex text-lg items-center gap-1.5 py-1.5 rounded-md font-semibold text-[#FD3E81] dark:bg-gray-800 dark:text-gray-200"
				>
					Growth plan
				</p>
				<h1
					class="block text-5xl tracking-tighter font-bold text-slate-900 sm:text-4xl lg:text-8xl lg:leading-none dark:text-white"
				>
					Get More Patients
				</h1>

				<p
					class="mt-6 font-inter text-lg max-w-2xl text-gray-800 dark:text-gray-400"
				>
					Proven Strategies to Grow Your Practice and Build Lasting
					Relationships
				</p>
				<ButtonDefault text="Get Started" />
			</div>
			<!-- End Col -->

			<div class="lg:col-span-4 mt-10 lg:mt-0 m-auto">
				<img
					class="w-10/12 rounded-xl m-auto"
					src="/images/growth-banner-img.png"
					alt="Image Description"
				/>
			</div>
			<!-- End Col -->
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Hero -->

	<!-- Information banner start -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<div class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-cols-2 rounded-md">
			<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
				<span>2<span class="text-5xl px-4">in</span>5</span>
				<p class="text-3xl text-[#FD3E81] font-medium">patients</p>
			</h3>

			<div class="max-w-[25rem]">
				<h2
					class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
				>
					use a practice website to form an opinion of a doctor, dentist, or
					another healthcare provider
				</h2>
			</div>
		</div>
	</div>
	<!-- Information banner end -->

	<!-- What We Offer Section -->
	<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
		<!-- Grid Group  -->
		<div class="grid sm:grid-rows-2 gap-24">
			<!-- Grid-1  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/adverticing-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Advertising
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Advertising can be expensive but it gives you the fastest growth
							path. Targeted advertising can provide the best bang for your
							buck. Basic advertising protects competition from stealing your
							patients. Advertising can give startup clinics the fastest path to
							profitability.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-2 -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/expertise-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Expertise
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Marketing is about running a series of experiments sustained over
							a period of time to see what yields results. So, what is the value
							of a marketing expert? You could spend money and time to run these
							experiments, or work with experts who can build and run them
							quickly to identify what yields results.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Information banner start -->

			<div class="bg-[#FFECF7] sm:p-16 py-14 px-6 grid grid-cols-2 rounded-md">
				<h3 class="md:text-8xl text-7xl font-bold text-[#FD3E81]">
					<span>54<span class="text-5xl px-4">%</span></span>
					<p class="text-3xl text-[#FD3E81] font-medium">
						of prospective patients
					</p>
				</h3>

				<div class="max-w-[25rem]">
					<h2
						class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
					>
						search for a local business like a healthcare practice every day
					</h2>
				</div>
			</div>
			<!-- Information banner end -->

			<!-- Grid-3  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/standout-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Stand out
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							Marketing is intended to help you stand out from the crowd and
							help your ideal patients self identify. It is often a lot of small
							elements that convey your image and we will help you establish
							your brand.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-4 -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/expertblog-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Expert Blogs
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							What do patients look for when they are looking for a physician?
							Yes, they want to get a feel for you as an individual. But, it is
							most important to them to understand your expertise. We write
							custom blogs to showcase your expertise and build your own assets
							for the long term.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Grid-5  -->
			<div class="grid sm:grid-cols-2 items-center gap-8">
				<div class="sm:order-2">
					<div class="relative rounded-lg">
						<img
							class="w-auto h-auto object-cover rounded-lg"
							src="/images/emailmarketing-img.png"
							alt="Image Description"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:order-1">
					<h2
						class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
					>
						<a class="dark:text-gray-300 dark:hover:text-white" href="#">
							Custom email marketing
						</a>
					</h2>

					<div class="mt-5 max-w-3xl mx-auto">
						<p class="text-lg text-gray-600 dark:text-gray-400">
							What do your patients want from their relationship with a
							physician ? A proactive approach to managing their health. Engage
							with your patients proactively with customized emails to manage
							their health while increasing utilization of services and
							products.
						</p>
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->
		</div>
	</div>
	<!-- End What We Offer Section -->

	<BannerFooterSection />
</BaseLayout>
