---
import BaseLayout from '../layouts/BaseLayout.astro';
import ButtonDefault from '../components/ButtonDefault.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
---

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"
></script>

<style>
	.calendly-widget-overlay {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
		cursor: pointer;
	}

	.calendly-inline-widget {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		/* display: none; */
	}

	.calendly-widget-close {
		z-index: 999999;
		padding: 2rem;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}

	.testimonial-container {
		background: no-repeat url('/images/wave-pink.svg');
		background-size: contain;
		background-position: bottom right;
		background-color: #ffecf7;
	}

	@media (max-width: 520px) {
		.testimonial-container {
			background-position: bottom -40px right -20px;
		}
	}
</style>

<BaseLayout title="Tensaw.health | No hassle patient marketing for physicians">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-16 mx-auto"
			>
				<!-- Grid -->
				<div class="max-w-5xl">
					<div>
						<h1
							class="block text-5xl tracking-tighter font-bold text-slate-900 lg:text-8xl lg:leading-none dark:text-white"
						>
							No hassle patient marketing for <span
								class="text-transparent bg-clip-text bg-gradient-to-r from-[#FD3E81] to-[#486DD0] background-animate pr-0.5"
								>physicians</span
							>
						</h1>
						<p
							class="mt-6 font-inter text-lg max-w-2xl text-gray-800 dark:text-gray-400"
						>
							We help physicians find new patients and grow their medical
							practice. If you are not marketing to find your patients, your
							competition is acquiring them.
						</p>

						<button
							type="button"
							class="py-3 px-4 mt-6 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-[#FD3E81] text-white hover:bg-[#E43975] focus:outline-none focus:ring-2 focus:ring-[#E43975] focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
						>
							<a onclick="openCalendlyWidget()" href="#calendly">
								Get Started
							</a>
						</button>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<!-- Testimonials -->
			<div class="relative overflow-hidden">
				<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
					<!-- Gradients -->
					<div aria-hidden="true" class="flex absolute left-0 -z-[1]">
						<div
							class="bg-purple-200 opacity-20 blur-3xl w-[1036px] h-[300px] dark:bg-purple-900 dark:opacity-20"
						>
						</div>
					</div>
					<!-- End Gradients -->

					<!-- Grid -->
					<div
						class="testimonial-container bg-[#ffecf7] p-8 py-10 lg:grid lg:grid-cols-6 lg:gap-8 lg:items-center rounded-md"
					>
						<div class="lg:col-span-4">
							<!-- Blockquote -->
							<blockquote>
								<p
									class="font-medium text-gray-800 lg:text-3xl lg:leading-normal dark:text-gray-200"
								>
									“We have been using tensaw for about 2 months now. In that
									time, we've seen a <span class="text-[#FD3E81]">6X</span> increase
									in Google reviews! It's simply amazing!”
								</p>

								<footer class="mt-6">
									<div class="flex items-center gap-4">
										<div class="">
											<img
												class="w-24 h-auto rounded-full"
												src="/images/DrAligeti-avatar.png"
												alt="Dr. Aligeti - Beats Cardiology"
											/>
										</div>
										<div class="ml-4 lg:ml-0">
											<p class="font-medium text-gray-800 dark:text-gray-200">
												Dr. Aligeti
											</p>
											<p class="text-sm text-gray-600 dark:text-gray-400">
												Beats Cardiology, Texas
											</p>
										</div>
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End Testimonials -->

			<!-- Why Market to Patients -->
			<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
				<!-- Title -->
				<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
					<h2
						class="text-2xl font-bold md:text-5xl md:leading-tight dark:text-white"
					>
						Why should you market to your patients?
					</h2>
				</div>
				<!-- End Title -->
				<div>
					<!-- Card Grid -->
					<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
						<!-- Card -->
						<div
							class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
						>
							<div
								class="flex flex-col justify-center items-center bg-[#925034]"
							>
								<img src="/images/benefit-1-lady.png" alt="" />
							</div>
							<div class="py-6">
								<h3
									class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
								>
									Find ideal patients
								</h3>
								<p class="mt-3 text-gray-500">
									It is about finding your ideal patients which could mean less
									difficult patients and better reimbursements
								</p>
							</div>
						</div>
						<!-- End Card -->
						<!-- Card -->
						<div
							class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
						>
							<div
								class="flex flex-col justify-center items-center bg-[#925034]"
							>
								<img src="/images/benefit-2-lady.png" alt="" />
							</div>
							<div class="py-6">
								<h3
									class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
								>
									Retain ideal patients
								</h3>
								<p class="mt-3 text-gray-500">
									Patients are ready to switch providers if they are unsatisfied
									with their overall experience including the tools.
								</p>
							</div>
						</div>
						<!-- End Card -->
						<!-- Card -->
						<div
							class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
						>
							<div class="flex flex-col justify-center items-center">
								<img src="/images/benefit-3-lady.png" alt="" />
							</div>
							<div class="py-6">
								<h3
									class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
								>
									Increase revenue
								</h3>
								<p class="mt-3 text-gray-500">
									Are you waiting for the patients to contact you or do you have
									a proactive reach out to your patients? Additional reach outs
									result in healthier patients while also increasing your
									revenue.
								</p>
							</div>
						</div>
						<!-- End Card -->
					</div>
					<!-- End Card Grid -->
				</div>
			</div>
			<!-- End Why Market to Patients -->

			<!-- What We Offer Section -->
			<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
				<!-- Title -->
				<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
					<h2
						class="text-2xl font-bold md:text-5xl md:leading-tight dark:text-white"
					>
						What we offer
					</h2>
				</div>
				<!-- End Title -->

				<!-- Grid Group  -->
				<div class="grid sm:grid-rows-2 gap-24">
					<!-- Grid-1  -->
					<div class="grid sm:grid-cols-2 items-center gap-8">
						<div class="sm:order-2">
							<div class="relative rounded-lg">
								<img
									class="w-auto h-auto object-cover rounded-lg"
									src="/images/basic-pic.png"
									alt="Image Description"
								/>
							</div>
						</div>
						<!-- End Col -->

						<div class="sm:order-1">
							<p
								class="mb-3 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200"
							>
								Do-it-yourself
							</p>

							<h2
								class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
							>
								<a class="dark:text-gray-300 dark:hover:text-white" href="#">
									<span class="text-[#FD3E81]">Be found</span> online
								</a>
							</h2>

							<div class="mt-5 max-w-3xl mx-auto">
								<p class="text-lg text-gray-600 dark:text-gray-400">
									This is often the entry point to patient marketing for most
									small and mid-sized practices. If you have the time and want
									an inexpensive way to market your practice, then you can
									quickly launch marketing campaigns using our tools and
									library.
								</p>
							</div>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->

					<!-- Grid-2 -->
					<div class="grid sm:grid-cols-2 items-center gap-8">
						<div class="">
							<div class="relative rounded-lg">
								<img
									class="w-auto h-auto object-cover rounded-lg"
									src="/images/nurture-pic.png"
									alt="Image Description"
								/>
							</div>
						</div>
						<!-- End Col -->

						<div class="">
							<p
								class="mb-3 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200"
							>
								Done-for-You
							</p>

							<h2
								class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
							>
								<a class="dark:text-gray-300 dark:hover:text-white" href="#">
									<span class="text-[#FD3E81]">Engage</span> with patients
								</a>
							</h2>

							<div class="mt-5 max-w-3xl mx-auto">
								<p class="text-lg text-gray-600 dark:text-gray-400">
									This is a maintenance plan for established practices. It feeds
									into the patients’ social media pages and keeps your practice
									at the top of their mind. We also engage with your patients on
									your behalf and help increase your Google reviews.
								</p>
							</div>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->

					<!-- Grid-1  -->
					<div class="grid sm:grid-cols-2 items-center gap-8">
						<div class="sm:order-2">
							<div class="relative rounded-lg">
								<img
									class="w-auto h-auto object-cover rounded-lg"
									src="/images/growth-pic.png"
									alt="Image Description"
								/>
							</div>
						</div>
						<!-- End Col -->

						<div class="sm:order-1">
							<p
								class="mb-3 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200"
							>
								Done-for-You
							</p>

							<h2
								class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
							>
								<a class="dark:text-gray-300 dark:hover:text-white" href="#">
									<span class="text-[#FD3E81]">Get more</span> patients
								</a>
							</h2>

							<div class="mt-5 max-w-3xl mx-auto">
								<p class="text-lg text-gray-600 dark:text-gray-400">
									This plan gets you the most new patients. Our team will take
									the learnings from our most successful campaigns and build a
									consistent program for maximum visibility and fastest patient
									acquisition.
								</p>
							</div>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End What We Offer Section -->

			<!-- Testimonials -->
			<div class="relative overflow-hidden">
				<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
					<!-- Grid -->
					<div
						class="testimonial-container bg-[#FFECF7] p-8 py-10 lg:grid lg:grid-cols-6 lg:gap-8 lg:items-center rounded-md"
					>
						<div class="lg:col-span-4">
							<!-- Blockquote -->
							<blockquote>
								<p
									class="font-medium text-gray-800 lg:text-3xl lg:leading-normal dark:text-gray-200"
								>
									“I am absolutely pleased with tensaw's services. It has been
									really helpful to us.”
								</p>

								<footer class="mt-6">
									<div class="flex items-center gap-4">
										<div class="">
											<img
												class="w-24 h-auto rounded-full"
												src="/images/DrMakinde-avatar-2.png"
												alt="Dr. Makinde - Covenant "
											/>
										</div>
										<div class="ml-4 lg:ml-0">
											<p class="font-medium text-gray-800 dark:text-gray-200">
												Dr. Makinde
											</p>
											<p class="text-sm text-gray-600 dark:text-gray-400">
												Covenant Women's Health, Texas
											</p>
										</div>
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End Testimonials -->

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>

<!-- Calendly inline widget begin -->
<div class="calendly-widget-overlay calendly-close-button">
	<div
		class="calendly-inline-widget"
		style="min-width: 320px; height: 680px"
		data-auto-load="false"
	>
		<h2 class="title is-size-5 calendly-widget-close">Close X</h2>
		<script
			type="text/javascript"
			src="https://assets.calendly.com/assets/external/widget.js"
		></script>
		<script>
			Calendly.initInlineWidget({
				url: 'https://calendly.com/trillium-vineeth/primrose-discovery',
			});
		</script>
	</div>
</div>
<!-- Calendly inline widget end -->

<script>
	const calendlyCloseButton = document.querySelector('.calendly-close-button');

	calendlyCloseButton.addEventListener('click', () => {
		document.querySelector('.calendly-widget-overlay').style.display = 'none';
	});

	const calendlyOpenButton = document.querySelectorAll('.calendly-open-button');

	// Handle clicks on each button.
	calendlyOpenButton.forEach((button) => {
		button.addEventListener('click', () => {
			document.querySelector('.calendly-widget-overlay').style.display =
				'block';
		});
	});
</script>
