---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import SupportBannerWithPic from '../components/SupportBannerWithPic.astro';
---

<BaseLayout title="Practice Platform | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] md:max-w-full mx-auto pt-10 pb-10 px-4 sm:px-6 lg:px-8 bg-neutral-100"
			>
				<!-- Grid -->
				<div
					class="grid md:grid-cols-2 gap-12 md:gap-16 xl:gap-20 md:items-center"
				>
					<div>
						<h1
							class="block text-4xl tracking-tighter font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
						>
							Practice Platform
						</h1>
						<p class="mt-4 text-lg text-gray-800 dark:text-gray-400">
							A comprehensive platform to help you run your practice
							efficiently. Built with an easy-to-use scheduling, billing and
							patient portal.
						</p>

						<!-- Buttons -->
						<div class="mt-8 grid gap-3 w-full sm:inline-flex">
							<a
								class="inline-flex justify-center items-center gap-x-3 text-center bg-teal-700 hover:bg-teal-800 border border-transparent text-sm lg:text-base text-white font-medium focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800"
								href="#"
							>
								Get started
							</a>
						</div>
						<!-- End Buttons -->
					</div>
					<!-- End Col -->

					<div class="relative">
						<img
							class="w-full max-w-full"
							src="/images/practice-platform-hero.png"
							alt="Image Description"
						/>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div
					class="bg-[#E0DDD8] sm:p-16 py-12 px-6 grid grid-cols-2 md:gap-12 gap-6 items-center"
				>
					<div class="justify-center max-w-[25rem]">
						<h2
							class="font-bold text-2xl tracking-tighter lg:text-3xl text-gray-800 dark:text-gray-200"
						>
							EMR independence
						</h2>
						<!-- Buttons -->
						<div class="mt-4 grid gap-3 w-full sm:inline-flex">
							<a
								class="inline-flex justify-center items-center gap-x-3 text-center bg-teal-700 hover:bg-teal-800 border border-transparent text-sm lg:text-base text-white font-medium focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800"
								href="#"
							>
								Download Free E-Book
							</a>
						</div>
						<!-- End Buttons -->
					</div>

					<div class="grid grid-rows-2 gap-6">
						<p class="text-gray-900">
							You have a favorite EMR or maybe you hate all EMRs. Choose an EMR
							of your choice for your clinical work; Choose Trillium practice
							platform for everything else.
						</p>
						<p class="text-gray-900">
							Read our eBook on why it makes sense to separate your EMR from the
							practice platform.
						</p>
					</div>
				</div>
			</div>

			<!-- Features -->
			<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div class="bg-white">
					<!-- Title -->
					<div class="mx-auto max-w-2xl text-center">
						<h2
							class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200 px-8 pt-8"
						>
							Faster appointments. <br /> More patients.
						</h2>
						<p class="text-center text-gray-800 dark:text-gray-200 px-8 pt-8">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<!-- End Title -->

					<div class="grid grid-col-6 gap-12 px-4 py-8">
						<!-- Grid - Feature 1 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32 mt-6"
						>
							<div>
								<img
									class=""
									src="/images/self-service.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Built for self service
										</h2>
										<p class="text-gray-500">
											All schedulers are built for your internal staff. We built
											our scheduler from the ground up for integration with your
											website and SMS self scheduling.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 2 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/maximize-collection.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Maximize collection
										</h2>
										<p class="text-gray-500">
											Frontdesk afraid to ask for payment? Most commercial plans
											have high deductibles and this is the weakest area for
											most clinics. Stop chasing patients and use our estimators
											and prepayment tools to maximize patient collection.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 3 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/Drive-reputation.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Drive reputation
										</h2>
										<p class="text-gray-500">
											We automatically send patients review requests after their
											appointments. We typically build hundreds of Google
											reviews in a matter of months driving up your online
											reputation and allowing more patients.
										</p>
										<a href="#" class="inline-flex text-blue-700 underline"
											>Click here to see our fees</a
										>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 4 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/seamless-engagement.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Seamless engagement
										</h2>
										<p class="text-gray-500">
											Patients expect multiple engagement options just like they
											would with any retail business. Engage with your patients
											through a seamless chat/sms experience from a central
											console.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Testimonials -->
						<div
							class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-[#925034]"
						>
							<!-- Blockquote -->
							<blockquote class="text-center lg:mx-auto lg:w-3/5">
								<img
									class="mx-auto w-20 h-auto sm:w-28 text-white dark:text-gray-200"
									src="/images/five-star-review-white.svg"
									alt=""
								/>

								<div class="mt-6 lg:mt-10">
									<p
										class="relative text-xl sm:text-2xl md:leading-normal font-medium text-gray-800"
									>
										<svg
											class="absolute top-0 left-0 transform -translate-x-8 -translate-y-8 h-16 w-16 text-slate-50/20 sm:h-24 sm:w-24 dark:text-gray-700"
											width="16"
											height="13"
											viewBox="0 0 16 13"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
											aria-hidden="true"
										>
											<path
												d="M7.18079 9.25611C7.18079 10.0101 6.93759 10.6211 6.45119 11.0891C5.96479 11.5311 5.35039 11.7521 4.60799 11.7521C3.71199 11.7521 2.96958 11.4531 2.38078 10.8551C1.81758 10.2571 1.53598 9.39911 1.53598 8.28111C1.53598 7.08511 1.86878 5.91511 2.53438 4.77111C3.22559 3.60111 4.18559 2.67811 5.41439 2.00211L6.29759 3.36711C5.63199 3.83511 5.09439 4.35511 4.68479 4.92711C4.30079 5.49911 4.04479 6.16211 3.91679 6.91611C4.14719 6.81211 4.41599 6.76011 4.72319 6.76011C5.43999 6.76011 6.02879 6.99411 6.48959 7.46211C6.95039 7.93011 7.18079 8.52811 7.18079 9.25611ZM14.2464 9.25611C14.2464 10.0101 14.0032 10.6211 13.5168 11.0891C13.0304 11.5311 12.416 11.7521 11.6736 11.7521C10.7776 11.7521 10.0352 11.4531 9.44639 10.8551C8.88319 10.2571 8.60159 9.39911 8.60159 8.28111C8.60159 7.08511 8.93439 5.91511 9.59999 4.77111C10.2912 3.60111 11.2512 2.67811 12.48 2.00211L13.3632 3.36711C12.6976 3.83511 12.16 4.35511 11.7504 4.92711C11.3664 5.49911 11.1104 6.16211 10.9824 6.91611C11.2128 6.81211 11.4816 6.76011 11.7888 6.76011C12.5056 6.76011 13.0944 6.99411 13.5552 7.46211C14.016 7.93011 14.2464 8.52811 14.2464 9.25611Z"
												fill="currentColor"></path>
										</svg>
										<span
											class="relative z-10 italic text-white dark:text-gray-200"
											>As a physician, there are a lot of things that stress me
											out, but with Primrose, managing my billing needs isn’t
											one of them. I know my billings will be done on time and
											all reports will be filed accurately</span
										>
									</p>
								</div>

								<footer class="mt-6">
									<div class="font-semibold text-slate-100 dark:text-gray-200">
										Dr. Makinde
									</div>
									<div class="text-sm text-slate-50">
										Director | Covenant Women's Health, Texas
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Testimonials -->

						<!-- Grid - Feature 5 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/payment-portal.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Payment portal
										</h2>
										<p class="text-gray-500">
											Gone are the days when patients would call to make a
											payment. If you do not have an option to pay online on
											your statement, you are losing money. Send an SMS to
											request payment.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Features Grid -->

						<!-- Grid - Feature 6 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/web-widgets.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Web widgets
										</h2>
										<p class="text-gray-500">
											Integrate our web widgets for your website for FREE with
											just 4 lines of code. Our widgets can display your Google
											Reviews, allow patients to message online or make an
											appointment.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 6 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/staff-registration.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Zero staff registration
										</h2>
										<p class="text-gray-500">
											Allow patients to complete all registration paperwork from
											the comfort of their home. Capture their drivers license &
											insurance card images; Get all consent forms signed; 
											collect medical history and prepare for their visit.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 7 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/remote-checkin.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Remote check-inn
										</h2>
										<p class="text-gray-500">
											Imagine what it would mean if patients could check-in
											online and pay their copay and enter their HPI before they
											even show up. Would that reduce the work for your staff
											and elevate the experience for your patients? We believe
											so!
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->
					</div>
				</div>
			</div>
			<!-- End Features -->

			<SupportBannerWithPic />


			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
