---
import BaseLayout from '../layouts/BaseLayout.astro';
import ButtonDefault from '../components/ButtonDefault.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
---

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"
></script>

<style>
	.calendly-widget-overlay {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
		cursor: pointer;
	}

	.calendly-inline-widget {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		/* display: none; */
	}

	.calendly-widget-close {
		z-index: 999999;
		padding: 2rem;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}

	.testimonial-container {
		background: no-repeat url('/images/wave-pink.svg');
		background-size: contain;
		background-position: bottom right;
		background-color: #ffecf7;
	}

	@media (max-width: 520px) {
		.testimonial-container {
			background-position: bottom -40px right -20px;
		}
	}

	.background-animate {
		background-size: 400%;

		-webkit-animation: AnimationName 6s ease infinite;
		-moz-animation: AnimationName 6s ease infinite;
		animation: AnimationName 6s ease infinite;
	}

	@keyframes AnimationName {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}

	.iconblock__grid {
		display: grid;
		grid-template-columns: 96px auto;
	}
</style>

<BaseLayout title="Tensaw.health | Who we're for ">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-16 mx-auto"
			>
				<!-- Grid -->
				<div class="max-w-5xl">
					<div>
						<h1
							class="block text-5xl tracking-tighter font-bold text-slate-900 sm:text-4xl lg:text-8xl lg:leading-none dark:text-white"
						>
							Who we’re for
						</h1>
						<p
							class="mt-6 font-inter text-lg max-w-2xl text-gray-800 dark:text-gray-400"
						>
							Lorem ipsum dolor sit amet consectetur. Varius amet placerat ipsum
							blandit. Ac dui in at eu. Posuere quam morbi odio lacinia at.
						</p>

						<button
							type="button"
							class="py-3 px-4 mt-6 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-[#FD3E81] text-white hover:bg-[#E43975] focus:outline-none focus:ring-2 focus:ring-[#E43975] focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
						>
							<a onclick="openCalendlyWidget()" href="#calendly">
								Get Started
							</a>
						</button>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<!-- Start - Startup Section -->
			<div
				class="max-w-[85rem] md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-8 mx-auto"
			>
				<div class="max-w-xl">
					<h2
						class="text-3xl text-gray-800 font-bold lg:text-5xl dark:text-white"
					>
						Startup
					</h2>
					<p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
						We help businesses bring ideas to life in the digital world, by
						designing and implementing the technology tools that they need to
						win.
					</p>
				</div>

				<div class="mt-12">
					<!-- Grid -->
					<div class="grid md:grid-cols-3 grid-row-3 gap-10">
						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/arrowup-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4 max-w-xs">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Rapid Patient Growth
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									You need to build up your patient volume quickly
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/stack-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4 max-w-xs">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Accelerated Start-Up
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Starting with a basic ad plan can help you get moving quickly
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/layer-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4 max-w-xs">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Sustainable Asset Building
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									A long term nurture plan can help you build assets for the
									long term
								</p>
							</div>
						</div>
						<!-- End Icon Block -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End - Startup Section -->

			<!-- Start - Established Practices - Primary Care Section -->
			<div
				class="max-w-[85rem] md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb- mx-auto"
			>
				<div class="max-w-xl">
					<h2
						class="text-3xl text-gray-800 font-bold lg:text-5xl dark:text-white"
					>
						Established practice Primary care
					</h2>
					<p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
						We help businesses bring ideas to life in the digital world, by
						designing and implementing the technology tools that they need to
						win.
					</p>
				</div>

				<div class="mt-12">
					<!-- Grid -->
					<div class="grid sm:grid-cols-3 grid-rows-3 gap-10">
						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/people-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Informed Patient Insights
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Patients seek input from friends and family
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/loudspeaker-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Targeted Marketing Strategy
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									A coherent digital marketing plan is vital to identify and
									market to your core demographics
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/layer-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Enhanced Web Presence
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Refreshing your website and overall web presence may be
									necessary
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/voice-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Effective Offline Marketing
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Consistent offline marketing to primary care physicians can be
									beneficial
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/calender-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Goal-Oriented Consultation
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									A free consultation can help match marketing with your goals
								</p>
							</div>
						</div>
						<!-- End Icon Block -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End - Established Practices - Primary Care Section -->

			<!-- Start - Established Practice - Specialist Section -->
			<div
				class="max-w-[85rem] md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb- mx-auto"
			>
				<div class="max-w-xl">
					<h2
						class="text-3xl text-gray-800 font-bold lg:text-5xl dark:text-white"
					>
						Established practice  Specialist
					</h2>
					<p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
						We help businesses bring ideas to life in the digital world, by
						designing and implementing the technology tools that they need to
						win.
					</p>
				</div>

				<div class="mt-12">
					<!-- Grid -->
					<div class="grid sm:grid-cols-3 grid-rows-3 gap-10">
						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/userframes-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Increased Patient Volume
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									For specialists, targeting primary care physicians can
									increase patient volume
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/loudspeaker-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Profitable Promotion Solutions
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Digital marketing can help specialists promote their most
									profitable services and products.
								</p>
							</div>
						</div>
						<!-- End Icon Block -->

						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/pc-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Attract More Patients
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Updating the website and online presence can attract more
									patients to the practice.
								</p>
							</div>
						</div>
						<!-- End Icon Block -->
						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/voice-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Build Referral Network
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									Consistent offline marketing to primary care physicians can be
									beneficial.
								</p>
							</div>
						</div>
						<!-- End Icon Block -->
						<!-- Icon Block -->
						<div class="iconblock__grid">
							<div>
								<img src="/icons/pageicons/calender-icon.svg" alt="" />
							</div>

							<div class="ml-4 sm:ml-4">
								<h3
									class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
								>
									Tailored Marketing Plan
								</h3>
								<p class="mt-1 text-gray-600 dark:text-gray-400">
									A free consultation can help specialists develop a marketing
									plan that meets their specific needs.
								</p>
							</div>
						</div>
						<!-- End Icon Block -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End - Established Practice - Specialist Section -->

			<!-- Testimonials -->
			<div class="relative overflow-hidden">
				<div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-16 lg:py-16 mx-auto">
					<!-- Grid -->
					<div
						class="testimonial-container bg-[#FFECF7] p-8 py-10 lg:grid lg:grid-cols-6 lg:gap-8 lg:items-center rounded-md"
					>
						<div class="lg:col-span-4">
							<!-- Blockquote -->
							<blockquote>
								<p
									class="font-medium text-gray-800 lg:text-3xl lg:leading-normal dark:text-gray-200"
								>
									“I am absolutely pleased with tensaw's services. It has been
									really helpful to us.”
								</p>

								<footer class="mt-6">
									<div class="flex items-center gap-4">
										<div class="">
											<img
												class="w-24 h-auto rounded-full"
												src="/images/DrMakinde-avatar-2.png"
												alt="Dr. Makinde - Covenant "
											/>
										</div>
										<div class="ml-4 lg:ml-0">
											<p class="font-medium text-gray-800 dark:text-gray-200">
												Dr. Makinde
											</p>
											<p class="text-sm text-gray-600 dark:text-gray-400">
												Covenant Women's Health, Texas
											</p>
										</div>
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End Testimonials -->

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
