@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@font-face {
		font-family: Aeonik;
		/* src: url('public/aeonik-font/Aeonik-Regular.otf') format('opentype'); */
		src: url('/public/aeonik-font/Aeonik-Regular.otf') format('opentype');
	}

	@font-face {
		font-family: Aeonik;
		font-weight: medium;
		src: url('/public/aeonik-font/Aeonik-Medium.otf') format('opentype');
	}
	@font-face {
		font-family: Aeonik;
		font-weight: bold;
		src: url('/public/aeonik-font/Aeonik-Bold.otf') format('opentype');
	}
	@font-face {
		font-family: Aeonik;
		font-weight: black;
		src: url('/public/aeonik-font/Aeonik-Black.otf') format('opentype');
	}

	font-family: 'Aeonik', 'Inter', sans-serif;
}

h1 {
	font-weight: 600;
}

.banner-ctaContainer {
	background: no-repeat url('/images/banner-cta-image.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	max-width: 100%;
	position: relative;
}

.banner-ctaContainer--Overlay {
	position: absolute; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	border-radius: 8px;
}

.banner-ctaContainer--content {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

.background-animate {
	background-size: 400%;

	-webkit-animation: AnimationName 6s ease infinite;
	-moz-animation: AnimationName 6s ease infinite;
	animation: AnimationName 6s ease infinite;
}

@keyframes AnimationName {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
